body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #000;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.cert-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.cert-card img {
    width: 100%;
    border-radius: 10px;
}
